# This is my Final Portfolio Project from the Data Science Path on Codecademy

 - This Dataset includes the study area includes four wilderness areas located in the Roosevelt National Forest of northern Colorado.
 - I will predict an integer classification for the forest cover type.

### Data <a class="anchor" id="Data"></a>

The data for this project was downloaded from Kaggle:

[Forest Cover Type Prediction Data](https://www.kaggle.com/c/forest-cover-type-prediction/data)

Information regarding the features for the data are located in the `Data Description` section on the website.

Some code inspiration(especially functions) for this analysis was sourced from [this notebook](https://www.kaggle.com/sharmasanthosh/exploratory-study-on-feature-selection).

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#loading the data
train_df = pd.read_csv('data/test.csv')

In [4]:
print(train_df.shape)
train_df.head()

(565892, 55)

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40
0,15121,2680,354,14,0,0,2684,196,214,156,...,0,0,0,0,0,0,0,0,0,0
1,15122,2683,0,13,0,0,2654,201,216,152,...,0,0,0,0,0,0,0,0,0,0
2,15123,2713,16,15,0,0,2980,206,208,137,...,0,0,0,0,0,0,0,0,0,0
3,15124,2709,24,17,0,0,2950,208,201,125,...,0,0,0,0,0,0,0,0,0,0
4,15125,2706,29,19,0,0,2920,210,195,115,...,0,0,0,0,0,0,0,0,0,0

### I will investigate the data here

In [5]:
# checking the number of null values
train_df.isnull().sum()

Id                                    0
Elevation                             0
Aspect                                0
Slope                                 0
Horizontal_Distance_To_Hydrology      0
Vertical_Distance_To_Hydrology        0
Horizontal_Distance_To_Roadways       0
Hillshade_9am                         0
Hillshade_Noon                        0
Hillshade_3pm                         0
Horizontal_Distance_To_Fire_Points    0
Wilderness_Area1                      0
Wilderness_Area2                      0
Wilderness_Area3                      0
Wilderness_Area4                      0
Soil_Type1                            0
Soil_Type2                            0
Soil_Type3                            0
Soil_Type4                            0
Soil_Type5                            0
Soil_Type6                            0
Soil_Type7                            0
Soil_Type8                            0
Soil_Type9                            0
Soil_Type10                           0
Soil_Type11                           0
Soil_Type12                           0
Soil_Type13                           0
Soil_Type14                           0
Soil_Type15                           0
Soil_Type16                           0
Soil_Type17                           0
Soil_Type18                           0
Soil_Type19                           0
Soil_Type20                           0
Soil_Type21                           0
Soil_Type22                           0
Soil_Type23                           0
Soil_Type24                           0
Soil_Type25                           0
Soil_Type26                           0
Soil_Type27                           0
Soil_Type28                           0
Soil_Type29                           0
Soil_Type30                           0
Soil_Type31                           0
Soil_Type32                           0
Soil_Type33                           0
Soil_Type34                           0
Soil_Type35                           0
Soil_Type36                           0
Soil_Type37                           0
Soil_Type38                           0
Soil_Type39                           0
Soil_Type40                           0
dtype: int64

In [7]:
print(train_df.describe())

                  Id      Elevation         Aspect          Slope  \
count  565892.000000  565892.000000  565892.000000  565892.000000
mean   298066.500000    2964.977407     155.629558      14.039635
std    163359.093604     273.157030     111.962120       7.450155
min     15121.000000    1859.000000       0.000000       0.000000
25%    156593.750000    2818.000000      58.000000       9.000000
50%    298066.500000    2999.000000     127.000000      13.000000
75%    439539.250000    3164.000000     260.000000      18.000000
max    581012.000000    3858.000000     360.000000      66.000000

       Horizontal_Distance_To_Hydrology  Vertical_Distance_To_Hydrology  \
count                     565892.000000                   565892.000000
mean                         270.556622                       46.294408
std                          212.500153                       58.209469
min                            0.000000                     -173.000000
25%                          108.000000                        7.000000
50%                          228.000000                       29.000000
75%                          390.000000                       69.000000
max                         1397.000000                      601.000000

       Horizontal_Distance_To_Roadways  Hillshade_9am  Hillshade_Noon  \
count                    565892.000000  565892.000000   565892.000000
mean                       2367.143116     212.131133      223.435026
std                        1561.482002      26.661063       19.668053
min                           0.000000       0.000000        0.000000
25%                        1116.000000     198.000000      213.000000
50%                        2018.000000     218.000000      226.000000
75%                        3349.000000     231.000000      237.000000
max                        7117.000000     254.000000      254.000000

       Hillshade_3pm  ...    Soil_Type31    Soil_Type32    Soil_Type33  \
count  565892.000000  ...  565892.000000  565892.000000  565892.000000
mean      142.726951  ...       0.044768       0.091588       0.078704
std        38.030094  ...       0.206795       0.288444       0.269277
min         0.000000  ...       0.000000       0.000000       0.000000
25%       119.000000  ...       0.000000       0.000000       0.000000
50%       143.000000  ...       0.000000       0.000000       0.000000
75%       168.000000  ...       0.000000       0.000000       0.000000
max       254.000000  ...       1.000000       1.000000       1.000000

         Soil_Type34    Soil_Type35    Soil_Type36    Soil_Type37  \
count  565892.000000  565892.000000  565892.000000  565892.000000
mean        0.002808       0.003161       0.000193       0.000467
std         0.052916       0.056137       0.013877       0.021594
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000       0.000000
max         1.000000       1.000000       1.000000       1.000000

         Soil_Type38    Soil_Type39    Soil_Type40
count  565892.000000  565892.000000  565892.000000
mean        0.026233       0.023236       0.014651
std         0.159827       0.150652       0.120152
min         0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000
max         1.000000       1.000000       1.000000

[8 rows x 55 columns]